<?xml version="1.0" encoding="UTF-8"?>
<service id="com.lomiri.cloudsync.owncloud">
  <type>com.lomiri.cloudsync</type>
  <provider>owncloud</provider>
  <name>Owncloud</name>
  <profile>com.lomiri.cloudsync</profile>
  <translations>lomiri-cloudsync-app</translations>
</service>
