<?xml version="1.0" encoding="UTF-8"?>
<service id="com.lomiri.cloudsync.nextcloud">
  <type>com.lomiri.cloudsync</type>
  <provider>nextcloud</provider>
  <name>Nextcloud</name>
  <profile>com.lomiri.cloudsync.nextcloud</profile>
  <translations>lomiri-cloudsync-app</translations>
</service>
