<?xml version="1.0" encoding="UTF-8"?>
<service id="ubsync_UBsync_owncloud">
  <type>ubsync_UBsync</type>
  <provider>owncloud</provider>
  <name>Owncloud</name>
  <profile>ubsync_UBsync</profile>
  <translations>UBsync</translations>
</service>
